/* Dashboard.css */

.rounded-box {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333; 
}

/* Style for the "Add Event" button */
button {
  padding: 10px 15px;
  border-radius: 20px; 
  background-color: #4c1d95; 
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
  margin-bottom: 10px; 
  margin-top: 10px;
  font-family: 'Roboto';
}

button:hover {
  background-color: #35116a; 
}

/* Style for the "Remove Event" button */
button[disabled] {
  background-color: #ccc; 
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: #ccc; 
}

.calendar-box {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333; 

  margin: 20px; /* Add some margin */
  width: 80%; /* Set the width */
  height: 65vh; /* Set the height */
  overflow: auto; /* Add a scrollbar if the content is too large */
  
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .event-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--purple);
  padding: 10px;
  color: white;
  width: 80%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ccc;
 }

 .event{
  font-weight: 400;
 }