.loginWrapper {
  background-image: url("../images/walkingpath.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 850px;
  text-align: center;
  line-height: 0.5;
  font-size: 40px;
  color: #ede0ff;
  font-family: Roboto;
}
.treesBackgroundIcon {
  position: absolute;
  top: 0px;
  left: 232px;
  width: 1440px;
  height: 908px;
  object-fit: cover;
}
.loginBoxBorder1 {
  position: absolute;
  top: 100px;
  left: 521px;
  border-radius: 20px;
  background-color: rgba(76, 29, 149, 0.5);
  backdrop-filter: blur(4px);
  width: 700px;
  height: 575px;
}

