.petregistration-wrapper{
  position: relative;
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-blue);
  font-family: var(--font-inter);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.PetRegistration {
  position: relative;
  background-color: var(--purple);
  border-radius: 20px;

  width: 700px;
  height: 575px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;

  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-blue);
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PetRegistration label {
  font-size: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Add spacing between label and input */
  text-align: left; /* Right-align the labels */
  color: white;
}

.gsp-1-icon {
  width: 331px;
  height: 348px;
  object-fit: cover;
  background-image: url('gsp.jpeg'); /* Adjust the path accordingly */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 20px;
  align-self: center;
}

.register-pet {
  font-size: 96px;
  width: 625px;
  height: 101px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.pet-registration-inner,
.rectangle-textfield,
.name,
.age,
.breed,
.weight {
  width: 200%;
  max-width: 600px;
  
  background-color: white;
  color: black;
  margin-bottom: 10px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}


.register {
  width: 50px; /* adjust as needed */
  height: 200px; /* adjust as needed */
  background-color: var(--light-purple);
  color: var(--light-purple);
  margin-top: 20px;
 
}
