.pet-registration .gsp-1-icon {
  position: absolute;
  top: 158px;
  left: 698px;
  width: 331px;
  height: 348px;
  object-fit: cover;
}

.pet-registration .register-pet {
  position: absolute;
  top: 87px;
  left: 73px;
  font-size: 96px;
  display: inline-block;
  width: 625px;
  height: 101px;
}

.pet-registration .pet-registration-child,
.pet-registration .pet-registration-inner,
.pet-registration .pet-registration-item,
.pet-registration .rectangle-div {
  position: absolute;
  top: 574px;
  left: 542px;
  background-color: var(--color-gainsboro);
  width: 644px;
  height: 94px;
}

.pet-registration .pet-registration-inner,
.pet-registration .pet-registration-item,
.pet-registration .rectangle-div {
  top: 963px;
}

.pet-registration .pet-registration-inner,
.pet-registration .rectangle-div {
  top: 826px;
}

.pet-registration .rectangle-div {
  top: 700px;
}

.pet-registration .age,
.pet-registration .breed,
.pet-registration .name,
.pet-registration .weight {
  position: absolute;
  top: 598px;
  left: 578px;
  display: flex;
  font-weight: 100;
  align-items: center;
  width: 397px;
  height: 48px;
}

.pet-registration .age,
.pet-registration .breed,
.pet-registration .weight {
  top: 716px;
  left: 561px;
  width: 287px;
  height: 59px;
}

.pet-registration .breed,
.pet-registration .weight {
  top: 845px;
  left: 563px;
  width: 214px;
  height: 45px;
}

.pet-registration .weight {
  top: 989px;
  left: 565px;
  width: 377px;
  height: 50px;
}

.pet-registration .pet-registration-child1 {
  position: absolute;
  top: 87px;
  left: 1287px;
  background-color: var(--color-gainsboro);
  width: 358px;
  height: 44px;
}

.pet-registration .register {
  position: absolute;
  top: 101px;
  left: 1318px;
  font-size: 24px;
  display: flex;
  font-weight: 100;
  align-items: center;
  width: 270px;
  height: 8px;
}

.pet-registration {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-blue);
  font-family: var(--font-inter);
}
