body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

/* Navbar */
.navbar-child {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: #4c1d95;
  height: 86px;
}
.paw-plan {
  position: relative;
  line-height: 110%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
}
.menu-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 8px;
}
.buttons-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 16px;
}
.left {
  position: absolute;
  top: 24px;
  left: 80px;
  background-color: #4c1d95;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 38px;
}
.nav-link {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}
.button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
}
.button1 {
  border-radius: 50px;
  background-color: #7c3aed;
  border: 2px solid #7c3aed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.buttons-group1 {
  position: absolute;
  top: 24px;
  right: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  font-size: 16px;
}
.navbar {
  position: relative;
  width: 100%;
  height: 86px;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-family: Roboto;
  background-color: #4c1d95;
}
/* Navbar End */

/* Hero */
.hero-main-headline {
  align-self: stretch;
  position: relative;
  line-height: 110%;
  font-weight: 800;
  color:#4c1d95;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.keep-track-of {
  margin: 0;
}
.paragraph {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 160%;
}
.hero-button-text {
  position: relative;
  letter-spacing: .5px;
  line-height: 24px;
}
.hero-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
}
.hero-button {
  border-radius: 50px;
  background-color: #7c3aed;
  border: 2px solid #7c3aed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
}
.hero-buttons-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 24px;
  color: #fff;
}
.hero-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.hero-img {
  position: relative;
  width: 476px;
  height: 502px;
  object-fit: cover;
}
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
  box-sizing: border-box;
  gap: 80px;
  text-align: center;
  font-size: 72px;
  color: #0f172a;
  font-family: Roboto;
}
/*Hero End */

/* Footer */
.companyname-202x {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.bottom {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 0px;
  box-sizing: border-box;
  gap: 48px;
  text-align: left;
  font-size: 16px;
  color: #475569;
  font-family: Roboto;
}
/* Footer End */

/* Planning */
.dog-hike {
  position: relative;
  width: 651px;
  height: 568px;
  object-fit: cover;
  margin-left: 5%;
}
.caption {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 100%;
  text-transform: uppercase;
}
.secondary-headline {
  align-self: stretch;
  position: relative;
  font-size: 56px;
  line-height: 110%;
  font-weight: 800;
  color: #fff;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  color: #a78bfa;
}
.paragraph {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 160%;
}
.plan-button-text {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.plan-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
}
.plan-button {
  border-radius: 50px;
  background-color: #7c3aed;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px rgba(0, 0, 0, 0.07);
  border: 2px solid #7c3aed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
}
.plan-buttons-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
}
.section-text {
  flex: 1;
  background-color: #4c1d95;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px;
  gap: 32px;
}
.plan-row {
  background-color: #fff;
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.three-dogs {
  position: relative;
  width: 473px;
  height: 210px;
  object-fit: cover;
  margin-left: 3%;
}
.dog-vet {
  position: relative;
  width: 202px;
  height: 210px;
  object-fit: cover;
}
.dog-park {
  position: relative;
  width: 514px;
  height: 210px;
  object-fit: cover;
}
.dog-house {
  position: relative;
  width: 222px;
  height: 210px;
  object-fit: cover;
}
.planning-row1 {
  width: 1334px;
  height: 210px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.planning {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
}

/* Planning End */
